.columns {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.w-45{
    width: 45%;
}

@media screen and (max-width: 620px) {
    .w-45{
        width: 100%;
    }
}

@media screen and (min-width: 620px) and (max-width: 1000px) {
    .w-45{
        width: 90%;
    }
}